# Service Configurations
PORT=3001

# AI Gateway Configurations (Image)
AIGATEWAY_URL=https://aigateway.edgecloudapp.com/v1/625dad2ce0ea51bd6db4bc4cfdf5eaf6/wuxi_lairui-gateway
AIGATEWAY_TOKEN=7761c940d4894c0ba70b4af3ca484bdf

# AI Gateway Configurations (Video)
AIGATEWAY_VIDEO_URL=https://aigateway.edgecloudapp.com/v1/625dad2ce0ea51bd6db4bc4cfdf5eaf6/wuxi_lairui-gateway3
AIGATEWAY_VIDEO_TOKEN=c564d3c40ac141b5a10242705e19688a

# Aliyun OSS Configurations
OSS_REGION=oss-cn-shanghai
OSS_ACCESS_KEY_ID=YOUR_OSS_ACCESS_KEY_ID
OSS_ACCESS_KEY_SECRET=YOUR_OSS_ACCESS_KEY_SECRET
OSS_BUCKET=marius
